/*Swagger UI styling*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #f5f5f5 !important;
}

.swagger-ui .swagger-container {
    color: rgba(0,0,0,.87);
}

.swagger-ui .topbar {
    background-color: #37474f;
}

    .swagger-ui .topbar a span {
        color: rgba(255,255,255,.87);
        font-family: 'Press Start 2P','Courier New', Courier, monospace !important;
        white-space: nowrap;
        font-size: 20px;
    }

.swagger-ui label {
    color: rgba(255,255,255,.87);
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #62727b !important;
    background-color: #37474f !important;
    color: rgba(255,255,255,.7) !important;
}

.swagger-ui .topbar a img {
    border-radius: 20px;
}

.swagger-ui .btn.authorize {
    color: #689F38 !important;
    border-color: #689F38 !important;
    background-color: #F1F8E9 !important;
}

.swagger-ui .btn.authorize svg {
    fill: #689F38 !important;
}

.swagger-ui .markdown code, .swagger-ui .renderedMarkdown code {
    padding: 1px 3px !important;
    border-radius: 2px !important;
    background: rgba(0,0,0,0.1) !important;
    color: #62727b !important;
}

.swagger-ui .response-control-media-type--accept-controller select {
    border-color: grey !important;
}

.swagger-ui .response-control-media-type__accept-message {
    color: grey !important;
}
